body
{
    width: 960px;
    height: auto;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
#page
{
    background: radial-gradient(#6F5964,#1B0B0F);
    
}
nav
{
    background-color: white;
    display: flex;
    align-content:center;
    justify-content: space-between;
    vertical-align: middle;
    padding: 5px;
    
    
}
nav span:nth-child(odd)
{
    font-family: Comic Sans MS;
    font-size: 28px;
    font-weight: bolder;

}
nav span:nth-child(even)
{
    font-size: 24px;
    font-weight: bolder;

}
header
{
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    margin:30px auto;

}
header  img
{
    width: 370px;
    height: 220px;
    border: 5px solid #C0C0C0;
}
header article
{
    background-image: linear-gradient(90deg, white,#DBCCDA);
    height: 230px;
    width: 470px;
    
}
header article h1
{
    padding: 10px;
    background: linear-gradient(#B2B1B5,#878693,#B2B1B5);
    color: white;
    margin: 0px auto;
}
header article p
{
    padding: 10px;
    margin-top: 0px;
}
header article a
{
    color: black;
    padding: 10px;
}



main
{
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    margin:30px auto 0px auto;

}

main article
{
    background-image: linear-gradient(90deg, white,#DBCCDA);
    height: auto;
    width: 270px;
    
}
main  img
{
    width: 270px;
    height: auto;
}
main article h1
{
    padding: 10px;
    font-size: 18px;
    background: linear-gradient(#B2B1B5,#878693,#B2B1B5);
    color: white;
    margin: 0px auto;
}
main article p
{
    padding: 10px;
    margin-top: 0px;
    font-size: 13px;
    
}
main article a
{
    color: black;
    padding: 10px;
}


#sub-main
{
    display: flex;
    align-content:center;
    justify-content: space-evenly;
    margin:0px auto;

}

#sub-main article
{
    background-image: linear-gradient(90deg, white,#DBCCDA);
    height: auto;
    width: 270px;
    vertical-align: text-top;
    
}
#sub-main article figure
{
    padding: 15px; 15px;
    margin: 0 0;
}
#sub-main  img
{
    width: 40px;
    height: auto;
    margin:2px;
}
#sub-main article h1
{
    padding: 10px;
    font-size: 14px;
    background: linear-gradient(#B2B1B5,#878693,#B2B1B5);
    color: white;
    margin: 0px auto;
}
#sub-main article p
{
    padding: 10px;
    margin-top: 0px;
    font-size: 13px;
    
}
#sub-main article a
{
    color: black;
    padding: 10px;
}
#sub-main article .appwebsite
{
    background-color: #407D61;
    padding: 5px;
    border-radius: 9px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    color: white;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}
#sub-main article #appwebsite1
{
    width: 55px;
    height: 17px;
    line-height: 17px;
}
#sub-main article #appwebsite2
{
    width: 95px;
    height: 17px;
    line-height: 17px;
}
#sub-main article #appwebsite3
{
    width: 59px;
    height: 17px;
    line-height: 17px;
}
footer
{
    background-color: white;
    text-align: center;
    
    font-size: 18px;
    padding-top:1px;
    margin-top: 30px;
}
footer p span img
{
    height: 20px;
    width: 20px;
    margin: 0;
    
}
