article ul
{
    margin: 0;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: space-between;
    list-style-type: none;
    
}
article ul li
{
    height: 50px;
    width: 50px;
    color: #4213A2;

    
}
article p
{
    line-height: 0px;
    font-size: 8px;

}
article h1
{
    line-height: 0px;
}

.blue
{
    background-color: #689BFF;
}
.gold
{
    background-color: #FECB00;
}